// Static
$flexy-header-static-background-color: $body-bg;

// Sticky
$flexy-header-sticky-zindex: $zindex-navbar;
$flexy-header-sticky-background-color: rgba($body-bg, .95);
$flexy-header-sticky-unpinned-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);

// Responsive (static)
$xs-flexy-header-static-row-height: 60px;
$xs-flexy-header-static-logo-height: 50px;

$sm-flexy-header-static-row-height: 120px;
$sm-flexy-header-static-logo-height: 110px;

$md-flexy-header-static-row-height: 180px;
$md-flexy-header-static-logo-height: 140px;

$lg-flexy-header-static-row-height: 190px;
$lg-flexy-header-static-logo-height: 140px;

// Responsive (sticky)
$xs-flexy-header-sticky-row-height: 60px;
$xs-flexy-header-sticky-logo-height: 40px;

$sm-flexy-header-sticky-row-height: 60px;
$sm-flexy-header-sticky-logo-height: 40px;

$md-flexy-header-sticky-row-height: 60px;
$md-flexy-header-sticky-logo-height: 40px;

$lg-flexy-header-sticky-row-height: 60px;
$lg-flexy-header-sticky-logo-height: 40px;
